@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    NGUYEN VAN LOC<br />
    UNIVERSITY OF GREENWICH VIETNAM<br />
    <abbr title="Phone">Phone:</abbr>
    0582.070.987
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">locnvgcd18350@fpt.edu.vn</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/nqvnlc148">https://www.facebook.com/nqvnlc148</a>
</address>